<div class="location-label" title="{{i18n 'location.label.title'}}">
  {{d-icon 'map-marker'}}
  {{location-format user.custom_fields.geo_location}}
  {{log user.custom_fields.geo_location}}
</div>
{{#if showMapToggle}}
  <div class="location-user-map">
    <button {{action "showMap"}} class='btn btn-small btn-default'>
      {{d-icon 'map-o'}}
      {{#unless site.mobileView}}
        {{i18n 'location.geo.show_map'}}
      {{/unless}}
    </button>
    {{#if showMap}}
      {{user-map-component user=user}}
    {{/if}}
  </div>
{{/if}}
