{{! template-lint-disable link-rel-noopener  }}

{{#if this.showUserLocation}}
  <span class="location">
    <UserLocation @user={{this.user}} @formFactor="card" />
  </span>
{{/if}}
{{#if this.user.website_name}}
  <span class="website-name">
    {{d-icon "globe"}}
    {{#if this.linkWebsite}}
      <a
        href={{this.user.website}}
        rel={{unless this.removeNoFollow "nofollow ugc noopener"}}
        target="_blank"
      >{{this.user.website_name}}</a>
    {{else}}
      <span title={{this.user.website}}>{{this.user.website_name}}</span>
    {{/if}}
  </span>
{{/if}}